[run]
branch = True
parallel = True
source =
    h_pyramid_sentry
    tests

[paths]
source =
    src/
    */site-packages/

[report]
show_missing = True
skip_covered = True
precision = 2
fail_under = 100.00

# Avoid coverage getting confused by config files
omit =
   tests/.py*
